;-------------------------------------------
; Delphi Pascal compiler v10 configuration:
; 03/17/2025
;-------------------------------------------

;-------------------------------------------
; aliases
;-------------------------------------------

-aWinTypes=Windows;WinProcs=Windows

;-------------------------------------------
; include files
;-------------------------------------------

-i.\;..\..\lib

;-------------------------------------------
; units sources
;-------------------------------------------

-u.\;..\..\lib

;-------------------------------------------
; resource files (Delphi)
;-------------------------------------------

-rc:\compilers\delphi\lib

